* {
    font-family: 'Balsamiq Sans', cursive;
    color: white;
}

.nascondi {
    display: none;
    visibility: hidden;
}

.solomobile {
    display: none;
    visibility: hidden;
}

#headerprincipale {
    display: block;
    visibility: visible;
}

.comingsoon{
    display: none !important
}

.comingsoon_A{
    display: none !important
} 

.temporaneo_home {
    display: visible;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#headerprincipale {
    background-image: url(https://giancly96.github.io/Gulproject/assets/images/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1280px;
    height: 240px;
    margin-top: 1%;
    z-index: 1;
}

.testomenu1 {
    font-size: 30px;
    padding: 5px;
    padding-bottom: 0px;
    text-shadow: 2px 2px 4px #000000;
}

.menuparte1 {
    margin-left: 20px;
}

.menuparte2 {
margin-right: 65px;
}

.icone , .fab {
    margin-top: -10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 4px #000000;
 }

 .fab {
     padding-left: 7px;
 }

 .fa:hover , .fab:hover {
    opacity: 0.7;
    text-decoration: none;
    color: white;
 }

 .fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: 55px !important;
  }

.fa-telegram {
    background-color: #0088CC;
    color: white;
}

.fa-whatsapp {
    background-color: #25d366;
    color: white;
}

.fa-ebay {
    background: linear-gradient( to bottom right, #e53238 ,#0064d2 ,#f5af02 ,#86b817 100%);
    color: white;
}

#testoripetuto {
    margin-top: 25px;
    margin-left: 5px;
    margin-bottom: -10px;
    height: 25px;
    width: 320px;
    padding: 1px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    text-align: right;
    border: 1px solid #00e1ff;
    background: rgb(255, 255, 255, 0.7);
    text-shadow: 1px 1px 1px rgb(163, 163, 163);
    font-size: 17px;
}

.testoITA::after {
    content: "Benvenuto nel mio store! Qui potrai trovare pokèmon evento, pokémon leggendari, pokémon shiny e molto altro. Per qualsiasi dubbio e richieste contattami su uno dei miei social";
}

.testoING::after {
    content: "Welcome to my store! Here you can find event pokémon, legendary pokémon, shiny pokémon and much more! For any questions and requests contact me on one of my social networks";
}

/* Orari */
.orariITA_Lunedì::after {
    content: "21:00 - 00:00";
}

.orariITA_Martedì::after {
    content: "21:00 - 00:00";
}

.orariITA_Mercoledì::after {
    content: "21:00 - 00:00";
}

.orariITA_Giovedì::after {
    content: "21:00 - 00:00";
}

.orariITA_Venerdì::after {
    content: "21:00 - 00:00";
}

.orariITA_Sabato::after {
    content: "21:00 - 22:00";
}

.orariITA_Domenica::after {
    content: "11:00 - 12:00 | 21:00 - 00:00";
}

.orariING_Lunedì::after {
    content: "09:00pm - 12:00am";
}

.orariING_Martedì::after {
    content: "09:00pm - 12:00am";
}

.orariING_Mercoledì::after {
    content: "09:00pm - 12:00am";
}

.orariING_Giovedì::after {
    content: "09:00pm - 12:00am";
}

.orariING_Venerdì::after {
    content: "09:00pm - 12:00am";
}

.orariING_Sabato::after {
    content: "09:00pm - 10:00pm";
}

.orariING_Domenica::after {
    content: "11:00am - 12:00pm | 09:00pm - 12:00am";
}

#menuprincipale {
padding-top: 20px;
}

#menuprincipale li {
    list-style-type: none;
}

.dettagli_info {
    list-style-type: none;
}

#menuprincipale li a {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;
}

#menuprincipale li a:hover {
    color: gold;
    text-shadow: 2px 2px 4px #000000 , 0 0 10px goldenrod, 0 0 20px goldenrod, 0 0 30px goldenrod;
}

.interotesto {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.descrizione {
    margin: 10px;
    text-align: justify;
}

.barra1_immagine {
    content: url(https://giancly96.github.io/Gulproject/assets/images/barra.png);
    margin-bottom: -170px;
    margin-top: -60px;
    margin-left: -15px;
}

#barra1 h4 {
    text-align: center;
    padding-top: 25px;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}

.bordi_principali {
    border: 2px solid #000000;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-color: rgb(226, 226, 226);
    padding: 20px;
    margin-top: 10px;
}

.background_pokemon {
    background-color: white;
    margin: 10px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.immagine_pokemon {
    text-align: center;
    padding-left: 20px;
}

.immagine_pokemon2 {
    margin-top: 5px;
    margin-bottom: 15px;
}

.mosse {
    font-size: 18px;
    padding-top: 20px;
}

.mosse_titolo {
    font-size: 25px !important;
}

.testo_stats {
    font-size: 13px;
    padding: 0;
}

.background2 {
    background-color: #b8c0c2;
}

.background1 {
    background-color: #0296bb;
}

.colore_descrizione_2 , .mosse {
    color:#0296bb;
}

.font_descrizione {
    font-size: 18px;
}

.posizione_strumento {
    padding-left: 75px;
}

.fiocco {
    width: 50px;
    margin-top: 40px;
    margin-bottom: -150px;
    margin-left: -20px;
}

.fiocco_tabella {
    width: 50px;
}

/* Tabella */


.shiny_yes::after {
    content: "★";
    color: red;
}

.shiny_no::after {
    content: "☆";
    color: black;
}

.tabella_pokemon {
    width: 1280px;
    text-align: center;
    box-shadow: 0 5px 12px 5px #637088;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -15px;
    border-width: 3px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    white-space: nowrap;
    overflow: hidden;
    border-style: double;
}

.tabella_pokemon td{
    font-family: Arial, Verdana;
    color: black;
    border: black dotted 1px;
}

.tabella_pokemon th {
    font-family: Arial, Verdana;
    border: dotted white 1px;
    background-color: #0296bb;
    text-shadow: 2px 2px 4px #000000;
}

.tabella_pokemon tr:last-child td:first-child {border-radius: 0 0 0 30px;}
.tabella_pokemon tr:last-child td:last-child {border-radius: 0 0 30px 0;}
.tabella_pokemon th:first-child {border-top-left-radius: 30px;}
.tabella_pokemon th:last-child {border-top-right-radius: 30px;}

.coloretabella1 {
    background-color: rgba(255,255,0,.2);
}

.coloretabella2 {
    background-color: rgba(0,255,255,.12);
}

.Stats_IV {
    font-size: 12px;
    text-align: left
}

/* GO */

.Polvere_di_Stelle_GO {
    width: 100%
}

/* barra 2 - scambi */

.barra2_immagine {
    content: url(https://giancly96.github.io/Gulproject/assets/images/barra.png);
    margin-bottom: -280px;
    margin-top: 60px;
    margin-left: -15px;
}

#barra2 h4 {
    text-align: center;
    padding-top: 25px;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}

.testo_barra_2-1, .testo_barra_2-2 {
    margin-top: 105px;
}

.testo_barra_2-1 {
    padding-left: 50px;
    margin-right: -50px;
}

.testo_barra_2-2 {
    padding-right: 50px;
    margin-left: -50px;
}

.cursore_no {
    cursor: unset;
}

.full_scambio summary {
    list-style-type: none;
}

.titolo_gioco {
    color: #0296bb;
    font-size: 1.4em;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(99, 99, 99);
}

.titolo_gioco:hover {
    color: gold;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    cursor: pointer;
}

.grassetto_scambio {
    font-family: Arial, Verdana;
    color: black;
    font-weight: bold;
}

.descrizione_scambio {
    font-family: Arial, Verdana;
    color: black;
}

.requisito_scambio {
    font-family: Arial, Verdana;
    color: red;
    font-weight: bolder;
}

/* Orario */

.barra3_immagine {
    content: url(https://giancly96.github.io/Gulproject/assets/images/barra.png);
}

#barra3 h4 {
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}

.immagine_orario {
    margin-top: -350px;
    padding-left: 50px;
}

.testo_barra_3-1 {
    padding-left: 50px;
    margin-right: -50px;
}

.testo_barra_3-2 {
    padding-right: 50px;
    margin-left: -70px;
}

.testo_barra_3-1, .testo_barra_3-2 {
    margin-top: -150px;
}

.testo_orario {
    margin-top: -70px;
}

.testo_orario_ufficiale {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.tabella_orari {
    margin-left: auto;
    margin-right: auto;
}

.dichiarazione {
    color: black;
    font-weight: bold;
}

/* Menù dropdown */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #02b1dd;
    min-width: 160px;
    box-shadow: 2px 2px 4px #000000;
    padding: 12px 16px;
    z-index: 1;
    border-radius: 0 0 20px 20px;
    border: 2px black solid;
    margin-left: -50px;
  }

  .sottomenu {
      font-size: 20px !important;
      text-decoration: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* menu mobile*/

#menu_mobile details, #menu_mobile summary{
    padding: 5px;
    margin: 5px;
    list-style-type: none;
    font-size: 18px;
}

#checkbox, .btn span { /* Hide the checkbox input & word "Menu" in the button */
    display: none;
}

.sottomenu_mobile {
    background-color:#02b1dd;
    margin: 0;
}

/* Menu button - starts */
.btn {
    display: block;
    background-color: #02b1dd;
    color: #fff;
    width: 55px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    cursor: pointer;
    transition: width .3s ease-in-out;
    border-radius: 0;
}
/* Menu button - ends */

/* Sidebar - starts */
.fa-bars {
    margin-top: 15px;
}

.sidebar a {
    color: white !important;
}

.sidebar {
    background-color: #116298;
    position: fixed;
    width: 400px;
    height: 100%;
    z-index: 1111;
    transition: transform .3s ease-in-out;
    transform: translateX(-401px);
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar ul a {
    position: relative;
    text-decoration: none;
    display: block;
    background-color: transparent;
    color: #BAB5BD;
    padding: 15px 20px;
    font-size: 18px;
}

.sidebar ul a li i {
    margin-right: 15px;
}

/* Add margin to the icon in the second item */
.sidebar ul a:hover, .sidebar ul a.active {
    background-color: #161920;
    color: #fff;
}

/* Sidebar - ends */

/* Effect of showing the sidebar - starts */
#checkbox:checked ~ .sidebar {
    transform: translateX(0);
}

#checkbox:checked + .btn {
    width: 400px;
    padding: 0 20px;
}

#checkbox:checked + .btn span { /* Show again the word "Menu" in the button */
    display: inline;
}
/* Effect of showing the sidebar - ends */

@media only screen and (max-width: 767px) {
    .nascondi {
        display: none;
        visibility: hidden;
    }
    
    .solomobile {
        display: block;
        visibility: visible;
    }

    .solodesktop {
        display: none;
        visibility: hidden;
    }

    #headerprincipale {
        display: none;
        visibility: hidden;
    }

    .interotesto {
        width: auto;
    }

    .barra1_immagine {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #barra1 h4{
        font-size: 20px;
        padding-top: 0;
        margin-top: -45px;
    }

    .bordi_principali {
        margin-left: 15px;
        margin-right: 15px;
    }

    .font_nome_pokemon {
        font-size: 25px;
    }

    .mosse {
        font-size: 20px;
        margin-top: -25px;
    }

    .fiocco {
        margin: 0;
        margin-top: -40px;
        margin-right: -10px;
        width: 35px;
    }

    .div_fiocco {
        margin-bottom: -110px;
    }

    .posizione_strumento {
        padding: 0;
    }

    .tabella_pokemon {
        margin-left: unset;
        border-collapse: collapse;
        overflow-x: auto;
        display: block;
        max-width: 100%;
        border-radius: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
       }

    .tabella_pokemon tr:last-child td:first-child, .tabella_pokemon tr:last-child td:last-child, .tabella_pokemon th:first-child, .tabella_pokemon th:last-child {
        border-radius: unset;
    }

    .tabella_pokemon th, .tabella_pokemon td {
        padding: 10px;
    }

    #barra2 {
        margin-top: -90px;
    }

    #barra2 h4 {
        font-size: 17px;
        padding: 0;
        padding-bottom: 20px;
        margin: 0;
    }

    .barra2_immagine {
        margin: 0;
        padding: 0;
        padding-top: 80px;
        width: 100%;
        margin-bottom: -12%;
    }

    .barra3_immagine {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #barra3 h4 {
        font-size: 17px;
        padding: 0;
        padding-bottom: 20px;
        margin-top: -40px;
        margin-left: -50px;
    }

    .testo_orario {
        margin-top: 0;
    }

    .testo_orario_ufficiale {
        font-size: 11px;
    }

    .linea {
        border: 2px solid #02b1dd;
    }

    .ebay_mobile {
        width: 40%;
    }
}

@media screen and (min-width: 500px) and (max-width: 766px) {
    #barra3 h4 {
        margin-top: -60px;
    }

    #barra1 h4 {
        margin-top: -60px;
    }

    .testo_orario_ufficiale {
        font-size: 15px;
    }
}

@media only screen and (max-width: 400px) {
    .mosse {
        font-size: 17px;
    }

    .testo_stats {
        font-size: 12px;
    }
}
